/* ______________Header______________ */

.header_nav-links{
    border-bottom: 2px solid gray;
    display:flex;
    justify-content: space-between;
    width: 945px;
    margin: 0 auto
}
.header_nav-link a{
    text-decoration: none;
    color: gray;
    font-size: 22px;
    font-family:'Roboto', sans-serif ;
    line-height: 86px;
    transition: color .5s ease-in-out;
}
.header_nav-link:hover a{
    color: black;
    font-weight:bold
}



.header_hero-list{
    display:flex;
    justify-content: space-between;
    width: 945px;
    margin: 0 auto
}

.header_hero-title{
    font-family:'Roboto', sans-serif ;
    font-size: 47.3392px;
    line-height: 59px;
    padding: 30px 0px ;
    font-weight: bold;
}
.header_hero-description{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 110px 297px; /* получилось нечаянно */
}

.header_hero-lang{
    height:61px;
    display:flex;
    padding-top: 61px;
    transform: rotate(270deg);
}

.header_gray{
    color: gray;
    font-weight: bold;
}

.header__black{
    font-weight: bold;
}

.header_hero-img{
    width: 944px;
    height: 387px;
    background-image: url('img/photo.svg');
    margin: 0 auto;
}

/* _____  section about me _____ */
.title_about{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-top: 221px;
    }
    .paragraph{
    margin-top: 17px;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    }


/* ______________Footer______________ */

.footer{
    border: 5px solid rgb(7, 7, 7);
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    /* По вертикали выравнили по центру */
    align-items: center; 
    /* По горизонтали выравнили по центру */
    justify-content: center;
}

.footer_title{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.footer_description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-top: 20px;
}

.footer_btn{
    display: inline-block;
    background-color: #070707;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 25px;
    margin-top: 30px;

    /* transition - параметры перехода из одного состояния в другое */
    transition: all .3s ease-in-out;
}

/* :hover - псевдокласс и состояния */
.footer_btn:hover{
    color: rgb(0, 0, 0);
    background-color: #07070700;
    box-shadow: 0px 0px 20px rgb(0 0 0/ 20%);
}

.footer_social{
    display: flex;
    align-items: center;
    justify-content: center;

    /* gap - отступ между flex элементами */
    gap: 50px;

    margin-top: 86px;
}

.footer_social-item{
    width: 40px;
    height: 40px;

    /* background-repeat - свойство для повторения заднего фона */
    background-repeat: no-repeat;

    /* background-position - свойство для позиционирования заднего фона */
    background-position: center;

    /* background-size - свойство для указания размера заднего фона */
    background-size: cover;

    cursor: pointer;
}

.footer_social-item__in{
    background-image: url('img/linked.svg');
}

.footer_social-item__inst{
    background-image: url('img/insta.svg');
}

.footer_social-item__be{
    background-image: url('img/behance.svg');
}

.footer_social-item__dribble{
    background-image: url('img/dribble.svg');
}

.footer_like{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    color: #828282c0;
    margin-top: 45px;
}
